#month{
    width: 100%;
    height: 15px;


    font-size: 40px;
}
#week{

    font-size: 20px;
}
#main-interface{
    padding-top: 2px;

}
table {
    margin: auto;
    margin-top: 80px;
    height: 500px;
    width: 90%;
    background:url("../img/IMG_3300.PNG");
    background-size:350px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 0.2s;
    table-layout: fixed;
    
    
    

}
table:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

input[type="radio"]{
    visibility: hidden;
  width: 0;
  height: 0;
}

table label {
    background-color: transparent;
    display: inline-block;
    border: none;
    font-size: 25px;
    height: 100%;
    width: 100%;


    color: white;

    padding-top: 30px;
    text-align: center;

    transition: transform 0.3s;
}

#content-section label:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    transform: scale(1.1);
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    color:rgba(104, 61, 204, 0.8);
}


table input[type="radio"]:checked+label{
    color:rgba(104, 61, 204, 0.8);
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    animation-name: beat2;
    animation-duration: 0.2s;
    animation-iteration-count:infinite;
}


@keyframes beat2 {
    0% {
        transform:rotate(20deg) scale(1.1);
        /* transform: scale(1); */
    }
    50% {
        transform:rotate(-20deg) scale(1.4);
        /* transform: scale(1.1); */
    }
    100% {
        transform:rotate(20deg) scale(1.1);
        /* transform: scale(1); */
    }
}